<?xml version="1.0"?>
<config>
    <modules>
        <Aoe_DbRetry>
            <version>0.1.0</version>
        </Aoe_DbRetry>
    </modules>
    <global>
        <resource>
            <connection>
                <types>
                    <pdo_mysql>
                        <adapter>Aoe_DbRetry_Resource_Db_Pdo_Mysql_Adapter</adapter>
                        <class>Aoe_DbRetry_Resource_Db_Pdo_Mysql_Type</class>
                    </pdo_mysql>
                </types>
            </connection>
        </resource>
        <models>
            <aoe_dbretry>
                <class>Aoe_DbRetry_Model</class>
            </aoe_dbretry>
        </models>
    </global>
    <crontab>
        <jobs>
            <aoe_dbretry_alert>
                <schedule><cron_expr>59 * * * *</cron_expr></schedule>
                <run>
                    <model>aoe_dbretry/cron::checkAlert</model>
                </run>
            </aoe_dbretry_alert>
        </jobs>
    </crontab>
</config>
